#select_series.col-xs-2
  %form
    %label.checkbox-inline
      = check_box_tag 'volume', 'show', volume
      volume
    %label.checkbox-inline
      = check_box_tag 'currency', 'show', bitcoin
      bitcoin
