.container-fluid
  .row
    .col-xs-12
      = link_to 'cancel-all', cancel_all_orders_path, method: :delete, class: 'alert'

= render partial: 'orders/two_columns_list', locals: {database_orders: @database_orders, btce_orders: @btce_orders}
