/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.billet {color: #000000; }
.active {color: #114bbd; }
.cancelled {color: #858383; }
.fired {color: #19870c; }
.red {color: red; }
.derivative {color: #8d509f; }
.edit {color: #ec6d28; }

.chart_customization.table {
  margin-bottom: 0;
}

.chart_customization.table > tbody > tr > td{
  border: 0;
}

.checkbox-inline input[type=checkbox] {
  margin-top: 2px;
}

table#trade {
  margin-bottom: 0;
}
